@charset "UTF-8";
/* Nicola Potts Global Styles */

@import url('https://fonts.googleapis.com/css2?family=Aptoss&display=swap');

/* Reset styles based on Eric Meyer's CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Aptos', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 125%;
  font-weight: 300 !important;
  background-color: #FFF !important;
}

a { text-decoration: none; }

ol, ul { list-style: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* General Styles */
body {
  font-family: 'Aptos', sans-serif;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  margin: 0 auto;
  max-width: 800px; /* Centralize content */
}

/* Header Styles */
h1 {
  font-size: 35px;
  font-weight: 300;
  line-height: 74px;
  color: rgb(52, 102, 170);
}

h2, h3 {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 0.6em;
  width: 80%;
}

/* Container for headshot and text */
#container {
  position: relative;
  z-index: 100;
}

/* Center headshot image on mobile and desktop */
.headshot {
  display: table-cell;
  vertical-align: top;
  max-width: 225px;
  padding: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .headshot {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
  }

  .mblview {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

/* Adjusted styles for publications */
.pub {
  font-size: 16px;
}

.pub h3 {
  font-size: 20px;
  line-height: 120%;
  color: rgb(52, 102, 170);
}

.pub li img {
  float: left;
  margin-right: 15px;
}

.pub li {
  padding: 5px;
  overflow: auto;
}

.pub li:hover {
  background: #eee;
  cursor: pointer;
}

/* Responsive Timeline Styles */
#timeline {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 768px) {
  .timelineitem:nth-child(odd) {
    left: 12.5px;
    margin-left: 50%;
    border-left: 5px solid #333;
    text-align: left;
  }

  .timelineitem:nth-child(even) {
    left: -12.5px;
    margin-right: 50%;
    border-right: 5px solid #333;
    text-align: right;
  }
}
